@import "bootstrap";
@import "posts";
body {
  background-color: #fafafa;
}

nav {
  border-bottom: 1px solid #e6e6e6;
}

.navbar {
  background-color: white;
}

.wrapper {
  padding-top: 30px;
  .alert {
    margin-bottom: 30px;
  }
}